form {
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
    padding: 15px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input {
    width: 20%;
    padding: 10px;
    margin: 10px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=button] {
    padding: 10px;
    margin-top: 5px;
    background-color: orangered;
}

input[type=submit] {
    padding: 10px;
    float: right;
    margin-top: 5px;
    background-color:#4CAF50;
}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
}

.col-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-input {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.choice {
    display: inline;
}

section {
    padding-right: 50px;
}
