#signup-form {
    position: relative;
    top: 200px;
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
    width: 60%;
    margin: auto;
    padding-bottom: 5%;
}

#signup-form h1 {
    text-align: center;
    padding-top: 5%;
}

form {
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
    padding: 5%;
    width: 80%;
    margin: auto;
}

.col-label {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-size: 1.5rem;
}

.col-input {
    float: left;
    width: 75%;
    margin-top: 6px;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px;
}

.signup {
    text-align: center;
}

input[type=submit] {
    background-color:#4CAF50;
    width: 50%;
    text-align: center;
}

p {
    color: rgb(110, 5, 5);
}
